cmake-build-debug
cmake-build-release
/.idea/
*.log
/*.sh
!build-deb.sh
/*.obj
/*.exe
.cache/
.https_debug/
Launcher.cfg
Resources/
bin/
compile_commands.json
key
out/
# Build artifacts
build-deb/
*.deb
vcpkg/
